
		li{display: inline;}
		li a:hover{background-color: blue}
		li a{padding: 8px 16px
			;width: 50px
			;border-radius: 9px;
			list-style-type: none;}
		.ruby{background-color: grey;font-family: mathjax_frakfur;font size:22px;margin-left: 100px }
	form{text-align: center;}
.njwags{background-image: url(../Pictures/AC.jpg);background-repeat: no-repeat;background-size: 100%}
p{color: black;font-family:mathjax_math }
.bore{background-image: url(../Pictures/lil pump.jpeg);}
#footer{background-color: red;text-align: center;margin: top 22px;color: blue;display: block;}
body{background-image: url(../Pictures/4.jpg);background-size: 200%;background-repeat: no-repeat;}
#eric{background-color: skyblue}
#sam{background-color: red;text-align: center;}
#tom{background-color: brown;text-align: center;}
#mku{background-color: skyblue;font-family: mathjax_math;margin-top: 5px;text-align: center}
#nu{background-color: green}
#id{border: 2px solid black}